a {
    color: black;
}

a:link {
    color: black;
}

a:hover {
    color: black;
}

a:active {
    color: black;
}

.card-img-top {
    height: 260px;
    object-fit: fill;
}

.card {
    cursor: pointer;
    transition: all .3s ease-out;
}

.card:hover {
    transform: scale(1.05);
}

.icon {
    cursor: pointer;
}

.icon-remove {
    color: #c0392b;
}

.icon-add {
    position: absolute;
    content: '';
    bottom: 0;
    right: 0;
    margin: 20px;
    color: #27ae60;
    font-size: 50px;
}