.card {
    border: 1px solid rgba(0,0,0,0);
}

a:link {
    color: black;
}

a:hover {
    color: black;
}

a:active {
    color: black;
}

.icon {
    cursor: pointer;
}

.icon-edit {
    color: #2980b9;
}