<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Travel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/resources.css" th:href="@{/css/resources.css}">

</head>

<body>
<header class="logout">
    <form action="#" th:action="@{/logout}" th:method="post">
        <input class="logout-button" type="submit" value="Logout"/>
    </form>
</header>

<main class="main">
    <div class="container">
        <h2 class="mt-2 mb-5">Best places to travel in Europe 2020</h2>
        <div th:switch="${resourcesList}" class="resources-container">
            <div th:case="*">
                <div class="resource-card card mb-4" th:each="resource:${resourcesList}">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img th:src="${resource.photo}" class="card-img-top">
                        </div>
                        <div class="col-md-8 card-content">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${resource.title}"></h5>
                                <p class="card-text"
                                   th:text="${resource.description.substring(0,resource.description.length()/2).concat('  ....')}"></p>
                                <p class="card-text">
                                    <a th:href="@{/resources/edit/{title}(title=${resource.title})}">
                                        <div th:switch="${currentUser.getAdmin()}">
                                            <div th:case="false">
                                                <small
                                                        th:if="${userRights.containsKey(resource.title)}"
                                                        th:style="${userRights.get(resource.title).contains(T(com.tw.management.resources.persistence.right.Rights).Read)} ? 'display:1;' : 'display:none;'"
                                                        class="text-muted">Read more ....
                                                </small>
                                            </div>

                                            <div th:case="true">
                                                <small class="text-muted">Read more ....</small>
                                            </div>
                                        </div>
                                    </a>
                                </p>
                            </div>

                            <div class="card-footer text-right">
                                <a th:href="@{/admin/{title}(title=${resource.title})}">
                                    <i class="icon icon-admin fas fa-user-shield"
                                       th:style="${currentUser.getAdmin() == false}?'display:none;':'display:1;'"></i>
                                </a>
                                <a th:href="@{/resources/delete/{title}(title=${resource.title})}">
                                    <i class="icon icon-remove fas fa-trash"
                                       th:if="${userRights.containsKey(resource.title) && currentUser.getAdmin()== false}"
                                       th:style="${userRights.get(resource.title).contains(T(com.tw.management.resources.persistence.right.Rights).Delete)} ? 'display:1;' : 'display:none;'"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="footer">
    <i data-toggle="modal" data-target="#addModal" class="icon icon-add fas fa-plus-square"></i>

    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLabel">Add</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="#" th:action="@{/resources/add}"
                      th:object="${addResource}" method="post">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="title">Title</label>
                            <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="text-danger"></span>
                            <input id="title" class="form-control" th:field="*{title}" type="text"
                                   placeholder="Title">
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
                                  class="text-danger"></span>
                            <textarea rows="6" id="description" class="form-control" th:field="*{description}" type="text"
                                      placeholder="Description"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="photo">Photo</label>
                            <span th:if="${#fields.hasErrors('photo')}" th:errors="*{photo}" class="text-danger"></span>
                            <input id="photo" class="form-control" th:field="*{photo}" type="text"
                                   placeholder="Photo link">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/0f1788d72a.js" crossorigin="anonymous"></script>

<!--<script type="text/javascript" src="../static/js/resources.js" th:src="@{/js/resources.js}"></script>-->
</body>
</html>